{% extends "web_layout/account-layout.html" %}

{% block content %}

<div class="card">
    <div class="card-body">

        <div class="text-center">
            <a href="/" class="logo"><img src="{{ url_for('static', filename = 'assets/images/logo-light.png') }}" height="22" alt="logo"></a>
        </div>

        <div class="p-3">
            <h4 class="font-18 m-b-5 text-center">Reset Password</h4>
            <div class="alert alert-success m-t-30" role="alert">
                Nhập email tài khoản và mật khẩu sẽ được gửi đến mail bạn
            </div>


            <form class="form-horizontal m-t-30" >

                <div class="form-group">
                    <label for="useremail">Email</label>
                    <input type="email" class="form-control" id="useremail" placeholder="Enter email">
                </div>

                <div class="form-group row m-t-20">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<div class="m-t-40 text-center">
    <p>Nhớ lại tài khoản ? <a href="/login" class="font-500 text-primary"> Đăng nhập ở đây </a> </p>
    {% block foot %}
        {{ super() }}
    {% endblock %}
</div>

{% endblock %}