{% extends "web_layout/quan-ly-master.html" %}

<!-- Header Block -->

{% block head %}

{{ super()}}

{% block title %} Trang cập nhật {% endblock title %}

{% endblock %}

<!-- Content Block -->

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="card-body">
            <h4 class="mt-0 header-title">Chỉnh sửa profile</h4>
            <p class="text-muted m-b-30">Chào mừng bạn đến với trang chỉnh sửa profile</p>
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group row">

                    {{ form.Th_Ho_ten.label(for="example-text-input",class="col-sm-2 col-form-label") }}
                    <div class="col-sm-10">
                        {{ form.Th_Ho_ten(class="form-control",value=quan_li['HoVaTen'], id="example-text-input",placeholder="Nhập Họ và Tên") }}
                    </div>
                    {% if form.Th_Ho_ten.errors %}
                    <ul class=errors>
                        {% for error in form.Th_Ho_ten.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
                <div class="form-group row">
                    {{ form.Th_Gioi_tinh.label(class="col-sm-2 col-form-label") }}
                    <div class="col-sm-10">
                        {{ form.Th_Gioi_tinh(class="form-control") }}
                    </div>
                    {% if form.Th_Gioi_tinh.errors %}
                    <ul class=errors>
                        {% for error in form.Th_Gioi_tinh.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.Th_Ngay_sinh.label(for="example-text-input",class="col-sm-2 col-form-label") }}
                    <div class="col-sm-10">
                        {{ form.Th_Ngay_sinh(class="form-control",type="date",value=quan_li['NgaySinh'],id="example-date-input") }}
                    </div>
                    {% if form.Th_Ngay_sinh.errors %}
                    <ul class=errors>
                        {% for error in form.Th_Ngay_sinh.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.Th_Dia_chi.label(for="example-text-input",class="col-sm-2 col-form-label") }}
                    <div class="col-sm-10">
                        {{ form.Th_Dia_chi(class="form-control",value=quan_li['DiaChi'],id="example-text-input",placeholder="Nhập địa chỉ") }}
                    </div>
                    {% if form.Th_Dia_chi.errors %}
                    <ul class=errors>
                        {% for error in form.Th_Dia_chi.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.Th_Email.label(for="example-text-input",class="col-sm-2 col-form-label") }}
                    <div class="col-sm-10">
                        {{ form.Th_Email(class="form-control",type="email",value=quan_li['Email'] ,id="example-email-input") }}
                    </div>
                    {% if form.Th_Email.errors %}
                    <ul class=errors>
                        {% for error in form.Th_Email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.Th_Sdt.label(for="example-text-input",class="col-sm-2 col-form-label") }}
                    <div class="col-sm-10">
                        {{ form.Th_Sdt(class="form-control",type="tel",value=quan_li['SoDienThoai'],id="example-tel-input") }}
                    </div>
                    {% if form.Th_Sdt.errors %}
                    <ul class=errors>
                        {% for error in form.Th_Sdt.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary waves-effect waves-light float-right">Cập nhật</button>
            </form>
        </div>
    </div>
    <!-- container-fluid -->
</div>
<!-- content -->

{% endblock %}

<!-- Script block -->

{% block script %}

{{ super()}}

{% endblock %}