{% extends "web_layout/account-layout.html" %}

{% block content %}

<div class="card">
    <div class="card-body">

        <div class="text-center">
            <a href="/" class="logo"><img src="{{ url_for('static', filename = 'assets/images/logo-light.png') }}" height="22" alt="logo"></a>
        </div>

        <div class="p-3">
            <h4 class="font-18 m-b-5 text-center">Reset Password</h4>
            <div class="alert alert-success m-t-30" role="alert">
                Nhập Mật Khẩu Cũ Và Mới
            </div>
            {% if ThongBao == "Mật khẩu không khớp"%}    
                <div class="alert alert-danger m-t-30" role="alert">
                    {{ThongBao}}
                </div>
            {% elif ThongBao == "Đổi Mật Khẩu Thành Công" %}
                <div class="alert alert-success m-t-30" role="alert">
                        Đổi Mật Khẩu Thành Công
                </div>
            {% endif %}
            


            <form class="form-horizontal m-t-30" method = "POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.Th_MatkhauCu.label(for="example-text-input") }}
                    <div class="col-sm-10">
                        {{ form.Th_MatkhauCu(class="form-control",id="example-text-input",placeholder="Nhập mật khẩu cũ") }}
                    </div>
                    {% if form.Th_MatkhauCu.errors %}
                    <ul class=errors>
                        {% for error in form.Th_MatkhauCu.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.Th_MatkhauMoi.label(for="example-text-input") }}
                    <div class="col-sm-10">
                        {{ form.Th_MatkhauMoi(class="form-control",id="example-text-input",placeholder="Nhập mật khẩu mới") }}
                    </div>
                    {% if form.Th_MatkhauMoi.errors %}
                    <ul class=errors>
                        {% for error in form.Th_MatkhauMoi.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="form-group row m-t-20">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Đổi mật khẩu</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<div class="m-t-40 text-center">
    {% block foot %}
        {{ super() }}
    {% endblock %}
</div>

{% endblock %}