<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}  {% endblock %}</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">

    <!--Chartist Chart CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/chartist/css/chartist.min.css') }}">

    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/metismenu.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Academy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- css files -->
    <link href="{{ url_for('static' , filename ='trang_chu/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static' , filename ='trang_chu/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!-- <link href="{{ url_for('static' , filename ='trang_chu/css/team.css') }}" rel="stylesheet" type="text/css" media="all" /> -->
    <link href="{{ url_for('static' , filename ='trang_chu/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <!-- /css files -->
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /fonts -->
    <!-- js files -->
    <script src="{{ url_for('static' , filename ='trang_chu/js/modernizr.js') }}"></script>
    <!-- /js files -->
   
    <!-- Sweet Alert -->
    <link href="{{ url_for('static', filename = 'plugins/sweet-alert2/sweetalert2.min.css') }}" rel="stylesheet"
        type="text/css">
    {% endblock %}
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/" class="logo">
                    <span>
                        <img src="{{ url_for('static' , filename = 'assets/images/logo-light.png') }}" alt=""
                            height="18">
                    </span>
                    <i>
                        <img src="{{ url_for('static' , filename = 'assets/images/logo-sm.png') }}" alt="" height="22">
                    </i>
                </a>
            </div>

            <nav class="navbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">

                    <!-- full screen -->
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-fullscreen noti-icon"></i>
                        </a>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title"> Các mục trang</li>
                        <li>
                            <a href="/" class="waves-effect">
                                <i class="ti-home"></i>
                                <span> Trang chính </span>
                            </a>
                            <a href="/trang-chu/thong-tin" class="waves-effect">
                                <i class=" ti-info "></i>
                                <span> Thông tin </span>
                            </a>
                            <a href="/trang-chu/dich-vu" class="waves-effect">
                                <i class=" ti-support "></i>
                                <span> Dịch vụ </span>
                            </a>
                            <a href="/trang-chu/thu-vien" class="waves-effect">
                                <i class=" ti-bookmark "></i>
                                <span> Thư viện </span>
                            </a>
                            <a href="/trang-chu/lien-he" class="waves-effect">
                                <i class=" ti-headphone-alt "></i>
                                <span> Liên hệ </span>
                            </a>
                            <a href="/login" class="waves-effect">
                                <i class=" ti-user "></i><span class="badge badge-primary badge-pill float-right"></span>
                                <span> Đăng nhập </span>
                            </a>

                        </li>


                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            {% block content %}
            {% endblock %}
        </div>


        {% block foot %}
        <footer class="footer">
            <p class="text-light">© 2022 Mạnh Đức, Anh Tuấn, Hoàng Gia with <i class="mdi mdi-heart text-danger"></i></p>
        </footer>
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    </div>


    <!-- END wrapper -->
    {% block script %}
    <!-- jQuery  -->
    <script src="{{ url_for('static' , filename = 'assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'assets/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'assets/js/waves.min.js') }}"></script>

    <!--Chartist Chart-->
    <script src="{{ url_for('static' , filename = 'plugins/chartist/js/chartist.min.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'plugins/chartist/js/chartist-plugin-tooltip.min.js') }}"></script>

    <!-- peity JS -->
    <script src="{{ url_for('static' , filename = 'plugins/peity-chart/jquery.peity.min.js') }}"></script>

    <script src="{{ url_for('static' , filename = 'assets/pages/dashboard.js') }}"></script>

    <!-- App js -->
    <script src="{{ url_for('static' , filename = 'assets/js/app.js') }}"></script>

    <script src="{{ url_for('static', filename = 'plugins/sweet-alert2/sweetalert2.min.js') }}"></script>
    <script>
        {% if message %}
        Swal.fire(
            {
                title: 'Thành công!',
                text: '{{ message }}',
                type: 'success',
                showCancelButton: true,
                confirmButtonColor: '#626ed4',
                cancelButtonColor: "#ec4561"
            }
        )
        {% endif %}
    </script>

    {% endblock %}

</body>

</html>