{% extends "web_layout/giao-vien-master.html" %}

<!-- Header Block -->

{% block head %}

{{ super()}}


{% endblock %}

<!-- Content Block -->

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">

        <!-- the hien ten page va options -->
        <div class="page-title-box">
            <div class="row align-items-center">

                <div class="col-sm-6">
                    <h4 class="page-title">Thông tin điểm số - {{ ten_hs }}</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Thông tin điểm số theo từng môn của học sinh</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->
        {% for bang_diem in ds_bang_diem %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xl-3">
                                <div class="color-box bg-success">
                                    {{ bang_diem['mon'] }}
                                </div>
                                <hr>
                                <a class="btn btn-danger waves-effect waves-light" href="/cham-diem/{{id_hoc_sinh}}/{{bang_diem['id_bd']}}">Chấm điểm</a>
                            </div>

                            <div class="col-md-3 col-xl-3">
                                <h5>Điểm hệ số 1 </h5>
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Lần</th>
                                                <th>Điểm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for lan, diem in bang_diem['15_phut'].items() %}
                                            <tr>
                                                <th scope="row">{{lan}}</th>
                                                <td>{{ diem if diem != None else 'Chưa chấm'}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-md-3 col-xl-3">
                                <h5>Điểm hệ số 2 </h5>
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Lần</th>
                                                <th>Điểm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for lan, diem in bang_diem['45_phut'].items() %}
                                            <tr>
                                                <th scope="row">{{lan}}</th>
                                                <td>{{ diem if diem != None else 'Chưa chấm'}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <!-- end col -->
                            <div class="col-md-3 col-xl-3">
                                <h5>Điểm hệ số 3 </h5>
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover table-striped table-sm">
                                        <tbody>
                                            <th scope="row">1</th>
                                            <td>{{ bang_diem['thi'] if bang_diem['thi'] != None else 'Chưa chấm'}}</td>
                                        </tbody>
                                    </table>
                                </div>
                                <h5>Trung bình môn</h5>
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover table-striped table-sm">
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>{{ "{0:.2f}".format(bang_diem['trung_binh']) if bang_diem['trung_binh'] != None else 'Chưa chấm'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end col -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- end col -->

        </div>
        <!-- end row -->
        {% endfor %}


    </div>
    <!-- container-fluid -->
</div>
<!-- content -->

{% endblock %}

<!-- Script block -->

{% block script %}

{{ super()}}

{% endblock %}